
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


        header {
            background-color: #333;
            color: white;
            padding: 10px;
        }

        header h1 {
            margin: 0;
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        nav li {
            margin-right: 10px;
        }

        nav a {
            color: white;
            text-decoration: none;
        }   

        nav a:hover {
            text-decoration: underline;
        }

        footer {
            background-color: #333;
            color: white;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }


        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }



.card{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1em;
    margin: 1em 0;
    box-shadow: 2px 2px 5px #aaa;
}

.card .btn {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    transition: background-color 0.3s ease;

}

.card .btn a {
    color: #fff;
    text-decoration: none;
}

.card .btn:hover {
    background-color: #0056b3;
}

