{% extends "layout/base.html" %}


  {% block content %} 
    <h1>List Of Post</h1>

    <button> <a href="/posts/add/"> Add</a></button>


    {% for post in  posts %}

      <div class="post">
        <h2>{{ post.title }}</h2>
        <p>{{ post.description }}</p>
        <small>{{ post.created_at|date }}</small>
        <small>{{ post.updated_at|date }}</small>
        <button><a href="{% url 'delete_post' post.id %}">Delete</a></button>
        <button><a href="{% url 'post_detail' post.id %}">View</a></button>
      </div>
    
    {% endfor %}


  {% endblock %}

{% block title %}Home{% endblock %}


