{% extends "base.html" %}


{% block title %}Login{% endblock title %}


{% block body %}


<h1>Reset</h1>

{% if error %}
<p class="text-danger">{{ error }}</p>
{% endif %}

<form method="post">
    {% csrf_token %}
    <input type="password" name="old_password" placeholder="Old Password" />
    <input type="password" name="new_password" placeholder="New Password" />
    <input type="password" name="confirm_password" placeholder="Confirm Password" />
    <input type="submit" value="Reset" />

</form>

{% endblock body %}