{% extends "base.html" %}


{% block title %}Login{% endblock title %}


{% block body %}


<h1>Login</h1>

{% if error %}
<p class="text-danger">{{ error }}</p>
{% endif %}

<form method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="User Name" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="Login" />

</br>
    <a href="{% url 'forgot' %}"> Forgot Password </a>
</br>
    <a href="{% url 'register' %}"> Register </a>

</form>





{% endblock body %}