{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}IPL App{% endblock %} </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <nav>
            <h1> IPL App</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/teams">Teams</a></li>
            </ul>
        </nav>
    </header>
   <main class="container">
    {% block content %}
       
     {% endblock %}
     </main>
  
    <footer>
        <p>Copyright &copy; 2024</p>
    </footer>
</body>
</html>
