{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<form action="" method="POST" >
  
    {% csrf_token %}
    <label for="title">Title:</label>
    <input type="text" id="title" name="unique_title"  >
    <label for="text">Text:</label>
    <textarea id="text" name="text" ></textarea>
    <input type="submit" value="Create Todo">
  </form>  

</body>
</html>

